<div class="container-fluid">
  <div class="card-columns">
  <div class="card">
    <img class="card-img img-fluid" src="../assets/img/client-logo-sanofi.png" alt="slide 1">
  </div>
  <div class="card">
    <img class="card-img img-fluid" src="../assets/img/client-logo-system-u.png" alt="slide 1">
  </div>
  <div class="card">
    <img class="card-img img-fluid" src="../assets/img/client-logo-ysl.png" alt="slide 1">
  </div>
  <div class="card">
    <img class="card-img img-fluid" src="../assets/img/client-logo-kering.png" alt="slide 1">
  </div>
  <div class="card">
    <img class="card-img img-fluid" src="../assets/img/client-logo-bocuse.png" alt="slide 1">
  </div>
  <div class="card">
    <img class="card-img img-fluid" src="../assets/img/client-logo-estee-lauder.png" alt="slide 1">
  </div>
  <div class="card">
    <img class="card-img img-fluid" src="../assets/img/client-logo-schmidt.png" alt="slide 1">
  </div>
  <div class="card">
    <img class="card-img img-fluid" src="../assets/img/client-logo-boucheron.png" alt="slide 1">
  </div>
  <div class="card">
    <img class="card-img img-fluid" src="../assets/img/client-logo-gucci.png" alt="slide 1">
  </div>
  <div class="card">
    <img class="card-img img-fluid" src="../assets/img/client-logo-laredoute.png" alt="slide 1">
  </div>
  <div class="card">
    <img class="card-img img-fluid" src="../assets/img/client-logo-bottega.png" alt="slide 1">
  </div>
  <div class="card">
    <img class="card-img img-fluid" src="../assets/img/client-logo-celio.png" alt="slide 1">
  </div>
  <div class="card">
    <img class="card-img img-fluid" src="../assets/img/client-logo-macqueen.png" alt="slide 1">
  </div>
</div>
</div>
