<!--  hero -->
<div class="hero" style="background-image: url('{{ .Site.BaseURL }}assets/img/hero.png ')">
  <div class="container hero-content">
    <h2>Notre métier :</h2>
    <h1 class="display-4 d-block font-italic">vous accompagner à révéler vos Talents et ceux des autres.</h1>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link hero-nav-link js-scroll-trigger" href="#prestations">Détecter et évaluer vos Talents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hero-nav-link js-scroll-trigger" href="#prestations">Développer l’agilité personnelle de vos Talents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hero-nav-link js-scroll-trigger" href="#prestations">Accompagner vos Talents</a>
      </li>
    </ul>
  </div>
</div>
