<!-- Modal -->
<div class="modal fade" id="modal-pnl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">La Programmation Neuro Linguistique (PNL)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Créée dans les années 1970 par John GRINDER et Richard BANDLER à partir des travaux de nombreux psychologues, la PNL permet de mieux comprendre les processus cognitifs à l’œuvre chez une personne à travers son langage verbal et non verbal.  Le langage est le moyen par lequel nous communiquons, mais il est aussi le reflet de nos pensées. Grâce au langage, nous avons  donc accès à nos représentations et nous pouvons les modifier si nous en prenons conscience.</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-at" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">L’Analyse Transactionnelle (AT)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Créée par Eric Berne dans les années 50, l’AT est une théorie de la personnalité qui permet d’étudier la nature des relations que nous mettons en place avec les autres. 	 Selon la théorie de l’AT, nous pouvons nous trouver tour à tour dans les personnages du "Parent", de l'Adulte" ou de l'"Enfant" et dans la logique de chacun de ces rôles, nous placer dans un rapport de domination, d'échange ou de soumission.</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-sa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">L’approche systémique</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Issue des recherches de l ‘école de PALO ALTO dans les années 50-70 et à l’inverse de l’approche dite « cartésienne » qui décompose et dissocie les différents éléments d’une situation, l’analyse systémique permet d’étudier le problème dans son ensemble. Elle prend en compte l’ensemble des éléments du système dans lequel évolue une personne ou une équipe et permet d’analyser la nature des interactions entretenues avec les éléments de ce système.</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-mbti" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Myers Briggs Type Indicators (MBTI)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>C’est l’indicateur de personnalité le plus utilisé au monde. Fondé sur la théorie des types psychologiques de Carl Gustav YUNG, cet outil a été développé par K.Briggs et I.Myers depuis 1941. Il permet d’accompagner une personne ou un groupe à mieux cerner ses habitudes comportementales.</p>
        <p>Quatre dimensions fondamentales du fonctionnement sont explorées :</p>
        <ul>
          <li>l’orientation de l’énergie (Extraversion ou Introversion)
            <li>les modes de perception de la réalité (Sensation ou Intuition) - les critères de prise de décision (Pensée ou Sentiment)</li>
            <li>le style de vie (Jugement ou Perception).</li>
          </ul>
          <p>C’est une grille de lecture comportementale fabuleusement riche pour mettre des mots sur sa personnalité. Nous l’utilisons en coaching individuel, développement personnel, gestion du stress et stratégie de gestion des carrières.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modal-disc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Talent Insights (DISC)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>C’est une approche issue de la recherche en psychologie de William Mouton Marston dans les années 1930. Elle permet de mettre en évidence, le profil comportemental d’une personne, selon qu’elle soit portée à agir ou à accepter un environnement qu’elle perçoit comme hostile ou favorable. Ces deux axes forment un cadrant de 4 profils comportementaux appelés « DISC ».</p>
          <p>Le modèle aide à mieux se connaître et aussi à mieux comprendre les autres, en créant les conditions de l’écoute et de la coopération mutuelle.  Ludique, facilement mémorisable, nous l’utilisons en particulier lors des séminaires de cohésion d’équipe et dans les démarches de développement personnel.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modal-360" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">360° Regards Sur Soi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Entre nos intentions, nos actions et la perception qu’en ont les autres, il y a parfois un décalage. Il existe plusieurs manières de susciter cette prise de conscience. Une des plus pertinentes est d’obtenir du feedback de son entourage professionnel.</p>
          <p>Le "RegardS sur Soi" est un bilan qui offre l’opportunité de se voir à travers les yeux des autres et de mieux comprendre ses forces et ses points de progrès. A partir d’un questionnaire regroupant des compétences, vous recevez du feedback de certaines catégories de votre entourage professionnel (hiérarchie, collaborateurs, collègues, clients).</p>
          <p>La démarche 360° Regards Sur Soi est entièrement personnalisable. Les compétences sont adaptées au profil de poste de la personne évaluée. Le questionnaire s’administre en ligne et dans plusieurs langues. </p>
        </div>
      </div>
    </div>
  </div>
