<div class="container">
  <div class="member">
    <a class="member-header collapsed" data-toggle="collapse" href="#teamOne" aria-expanded="false" aria-controls="teamOne">
      <div class="member-header-avatar">
        <img src="../assets/img/team-nelly-ok.jpg" alt="" class="img-fluid rounded-circle">
      </div>
      <div class="member-header-content" id="nelly-bruggheman">
        <h3 class="member-name">Nelly Bruggheman</h3>
        <h6 class="member-function"> Consultante-Coach Sénior</h6>
        <h6 class="member-function">Directrice-Fondatrice du cabinet-conseil CapiTalents RH</h6>
      </div>
    </a>
    <div class="member-body collapse" id="teamOne">
      <div class="row">
        <div class="col-md-9 offset-md-1">
          <p class="member-function">Coach certifiée - Ifod (O. Devillard – Président SF Coach) DRH de Formation-DESS Sciences Humaines et Psychopédagogie – ex DRH<br>Interventions en Français et en Anglais</p>
          <p><strong>Son crédo :</strong> accompagner les managers et les professionnels de la fonction Rh à révéler les talents et les ressources de chacun de leur collaborateur.</p>
          <p><strong>Son parcours :</strong> Nelly dispose d’une double expérience dans le secteur de l’entreprise et dans celui du conseil. Elle a travaillé pendant 18 ans dans des groupes internationaux dans des fonctions de direction du Développement Rh pour des équipes internationales dans des contextes de changement et de restructuration. Elle a notamment créé une antenne-emploi et un département de coaching interne pour accueillir des collaborateurs en mobilité.</p>
          <p>Elle décide en 2007 de créer son Cabinet de conseil CapiTalents RH. Aujourd’hui, de nombreux groupes internationaux lui font confiance pour évaluer, détecter et développer les talents de leurs collaborateurs, dans des contextes très variés du secteur du luxe à celui de la distribution, des services et de l’industrie.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="member">
    <a class="member-header collapsed" data-toggle="collapse" href="#teamTwo" role="button" aria-expanded="false" aria-controls="teamTwo">
      <div class="member-header-avatar">
        <img src="../assets/img/team-claude-ok.jpg" alt="" class="img-fluid rounded-circle">
      </div>
      <div class="member-header-content">
        <h3 class="member-name">Claude OFFROY</h3>
        <h6 class="member-function"> Consultante-Coach Sénior</h6>
      </div></a>
      <div class="member-body collapse" id="teamTwo">
        <div class="row">
          <div class="col-md-9 offset-md-1">
            <p class="member-function">Coach diplômée de l'Ecole Française de Coaching
              Scientifique-Chercheur de formation</p>
              <p><strong>Son crédo :</strong> proposer des outils et des méthodes qui permettent de faire émerger les ressources de chacun afin de trouver les clés de sa réussite et de son épanouissement.</p>
              <p><strong>Son parcours :</strong> après 20 années d'expérience comme Chercheur au sein du groupe Sanofi-Aventis, Claude s’est reconvertit progressivement dans le domaine des ressources humaines. En tant que responsable développement professionnel pour des équipes R&D pendant 13 ans, elle a notamment accompagné un projet mondial de re-engineeering. Elle a également piloté des dispositifs de reclassement professionnel vers l’interne et l’externe, dans une posture de consultante interne.</p>
              <p>Elle intervient dans le conseil depuis plus de 18 ans. Spécialiste de l’approche « Talent Insights » en France, de l’animation de séminaire de teambuilding, elle a aussi créé de nombreux outils de développement dont le 360° feedback « Regards Sur Soi » qui est entièrement personnalisable.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="member">
        <a class="member-header collapsed" data-toggle="collapse" href="#teamThree" role="button" aria-expanded="false" aria-controls="teamThree">
          <div class="member-header-avatar">
            <img src="../assets/img/team-damien-ok.jpg" alt="" class="img-fluid rounded-circle">
          </div>
          <div class="member-header-content">
            <h3 class="member-name">Damien BABINET</h3>
            <h6 class="member-function"> Consultant-Coach Sénior</h6>
          </div></a>
          <div class="member-body collapse" id="teamThree">
            <div class="row">
              <div class="col-md-9 offset-md-1">
                <p class="member-function">Coach certifié Coach and Team, Elément Humain® et ICS©<br>Ingénieur agro de formation - ex Directeur de Site Industriel</p>
                <p><strong>Son crédo :</strong> accompagner les organisations, les équipes et les personnes dans leurs projets de transformation.</p>
                <p><strong>Son parcours :</strong> Damien dispose d’une expérience de plus de 18 ans dans le secteur de l’industrie où en tant que Directeur industriel, il a piloté des projets de restructuration de plusieurs sites de production. Spécialiste des approches basées sur l’Elément Humain de Will Schultz qu’il enseigne en tant que superviseur agréé, Damien intervient dans des secteurs variés auprès de l’ensemble de la ligne managériale. Il s’attache dans chacune de ses interventions à prendre appui sur une vision systémique de la demande.</p>
                <p>Il intervient dans le conseil depuis 10 ans en tant que consultant et coach. Il anime notamment un parcours de bilan professionnel innovant « Trajectoire » pour clarifier ses talents et faire émerger de nouvelles opportunités qui est basé sur les enseignements de l’Elément Humain.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="member">
          <a class="member-header collapsed" data-toggle="collapse" href="#teamFour" role="button" aria-expanded="false" aria-controls="teamFour">
            <div class="member-header-avatar">
              <img src="../assets/img/team-barbara-ok.jpg" alt="" class="img-fluid rounded-circle">
            </div>
            <div class="member-header-content">
              <h3 class="member-name">Barbara LOYER</h3>
              <h6 class="member-function"> Consultante-Coach Sénior</h6>
            </div></a>
            <div class="member-body collapse" id="teamFour">
              <div class="row">
                <div class="col-md-9 offset-md-1">
                  <p class="member-function">Coach certifié ACC par la Fédération Internationale de Coaching (ICF)<br>Diplômée de l’ESSEC – Commerce International – ex DRH<br>Interventions en Français, Anglais et Espagnol</p>
                  <p><strong>Son crédo :</strong> expérimenter, apprécier et vivre pleinement et consciemment sa vie personnelle et professionnelle pour devenir des leaders inspirants.
                    <p><strong>Son parcours :</strong> Barbara a déroulé les 15 premières années de sa carrière en France, au Canada et en Asie au sein de grands groupes internationaux dans les métiers du Talent management.  Elle a évolué dans des environnements culturels et professionnels variés (Cirque du soleil, Danone, Kering) qui lui ont permis de mettre en place des dispositifs innovants en matière de gestion des talents.</p>
                    <p>Basée en Espagne, elle accompagne depuis 5 ans en tant que consultante-coach les organisations, les équipes et les individus dans la gestion de leurs talents et de leurs transformations. Tournée vers une approche holistique du développement personnel, elle intègre dans ses interventions des éléments de MBSR pour apprendre à gérer ses émotions, ses pensées et se ressourcer.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="member">
              <a class="member-header collapsed" data-toggle="collapse" href="#teamFive" role="button" aria-expanded="false" aria-controls="teamFive">
                <div class="member-header-avatar">
                  <img src="../assets/img/team-elina-ok.jpg" alt="" class="img-fluid rounded-circle">
                </div>
                <div class="member-header-content">
                  <h3 class="member-name">Elina Larsson</h3>
                  <h6 class="member-function"> Consultante-Coach Sénior</h6>
                </div></a>
                <div class="member-body collapse" id="teamFive">
                  <div class="row">
                    <div class="col-md-9 offset-md-1">
                      <p class="member-function">Coach certifiée - LKB (Lynne Burney (Co-fondatrice de la SFC)<br>Technicienne en imagerie médicale de formation – ex Cadre de santé</p>
                      <p><strong>Son crédo :</strong> agir pour l’épanouissement de l’Homme et de l’Entreprise</p>
                      <p><strong>Son parcours :</strong> Elina a travaillé pendant 21 ans dans le secteur hospitalier, en tant que cadre de santé des blocs d’imagerie à l’institut G.Roussy. C’est en travaillant à créer un environnement dans lequel chaque personne peut devenir acteur à part entière de son traitement, en mettant en place une équipe pluridisciplinaire, qu’elle arrive naturellement au coaching. Puis, elle opère une reconversion professionnelle pour se centrer sur l’accompagnement des personnes.</p>
                      <p>Spécialiste reconnue des risques psychosociaux, elle accompagne, en tant que consultante depuis 17 ans, les organisations à la mise en place de la Confiance et du Plaisir au travail, comme à la prévention et la gestion du stress, du burn-out, la qualité de vie au travail, la communication positive, et l’intelligence collective.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="member">
                <a class="member-header collapsed" data-toggle="collapse" href="#teamFive" role="button" aria-expanded="false" aria-controls="teamFive">
                  <div class="member-header-avatar">
                    <img src="../assets/img/team-laure-ok.jpg" alt="" class="img-fluid rounded-circle">
                  </div>
                  <div class="member-header-content">
                    <h3 class="member-name">Laure Bruant</h3>
                    <h6 class="member-function"> Consultante-Coach</h6>
                  </div>
                </a>
                <div class="member-body collapse" id="teamFive">
                  <div class="row">
                    <div class="col-md-9 offset-md-1">
                      <p class="member-function">Coach certifiée Action Types<br>Ex-responsable du développement des compétences</p>
                      <p><strong>Son crédo :</strong> placer la personne et son bien-être au cœur du processus de la performance, qu’elle soit individuelle ou collective.</p>
                      <p><strong>Son parcours :</strong> Laure a passé 20 ans dans le secteur de la distribution, dont plus de 15 au service des collaborateurs dans des fonctions de formation.</p>
                      <p>Elle a quitté l’entreprise il y a 5 ans pour aller au plus près des problématiques et des personnes en tant que coach et formatrice. Coach certifiée à l’approche Action Types, Laure place la personne au centre de toutes ses interventions, que ce soit en coaching, bilan de compétences, formation ou encore cohésion d’équipe.</p>
                      <p>Aujourd’hui, de nombreuses entreprises lui font confiance pour accompagner leurs collaborateurs et leurs équipes dans leur développement. </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
