{{ partial "head" . }}
{{ partial "base/nav" . }}
{{ partial "hero" . }}

<!--  about section -->
<section class="" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p>CapiTalents Rh est un cabinet de Conseil spécialisé dans le Management des Hommes et des Organisations. Il est dirigé par <a href="#nelly-bruggheman" class="js-scroll-trigger">Nelly Bruggheman</a>, Consultante-Coach Sénior qui conjugue une expertise de plus de 25 ans dans l’accompagnement des Talents, au sein de grands groupes internationaux et dans le secteur du conseil.</p>
        <p>Notre expérience nous permet d’intervenir en tant que conseil auprès de la fonction Rh dans le management des Talents, autant que dans la conception et l’animation de dispositifs de développement sur-mesure pour aider vos collaborateurs à révéler leur identité managériale.</p>
      </div>
      <div class="col-md-4 offset-md-1">
        <blockquote class="blockquote">
          <p class="mb-0 text-orange">L’homme possède en lui sa propre réalité, une réalité incontestable et illimitée</p>
          <footer class="blockquote-footer">Lev VYGOTSKI</footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<section id="prestations" class="section-orange">
  <h2 class="section-title">Détecter et évaluer vos talents</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <blockquote class="blockquote">
          <p class="mb-0">On ne devient pas champion dans un gymnase. On devient champion grâce à ce qu’on ressent ; un désir, un rêve, une vision. On doit avoir du talent et de la technique. Mais le talent doit être plus fort que la technique.</p>
          <footer class="blockquote-footer">Mohamed Ali</footer>
        </blockquote>
        <p class="lead">La question des talents demande de s’intéresser à l’Homme. Une personne peut être talentueuse dans un environnement donné et plus effacée dans un autre.</p>
        <p class="lead">Parfois, il s’agit d’une opportunité, se trouver dans le bon contexte au bon moment, rencontrer la bonne entreprise ou le bon manager…. Et puis il y a les talents en sommeil, ceux qui s’ignorent ou que l’entreprise ignore ! Jusqu’à ce que l’organisation décide de les faire évoluer et qu’ils se révèlent !</p>
        <p class="lead">Détecter les Talents de vos collaborateurs pressentis pour une mobilité interne, une promotion ou un changement de fonction permettra de conforter votre prise de décision et d’engager chacun dans une dynamique de développement.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-5 offset-lg-1">
        <h5>Notre valeur ajoutée :</h5>
        <p class="text-dark">nous disposons de plus de 15 ans d’expérience dans la conception et l’animation de dispositifs d’assessment et de development center.  Toutes nos interventions sont construites sur-mesure et spécifique à votre organisation.</p>
      </div>
      <div class="col-md-5 " >
        <h5>Exemples de réalisation :</h5>
        <ul class="text-dark">
          <li>Evaluation de candidature pour une mobilité interne ou dans le cadre d’un recrutement</li>
          <li>Conception de Centre de Développement pour les hauts potentiels identifiés</li>
          <li>Animation de formations sur la détection des talents pour les Rhs et les Managers</li>
          <li>Entretien de développement individuel sur la connaissance de soi et de ses talents</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <h2 class="section-title">Développer votre agilité personnelle</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <blockquote class="blockquote">
          <p class="mb-0">Le meilleur leader est celui qui sait trouver les talents pour faire les choses et qui sait aussi réfréner son envie de s’en mêler pendant qu’ils les font</p>
          <footer class="blockquote-footer">Théodore Roosevelt</footer>
        </blockquote>
        <p class="lead">Dans un environnement agile, les managers ont souvent besoin d’osciller tel un chef d’orchestre, entre une posture hiérarchique, de coach, d’homme projet, d’expert et de leader inspiré et inspirant pour les autres….<br>Des postures pas toujours faciles à concilier entre-elles qui nécessitent une forte agilité comportementale et de prendre appui sur ses ressources personnelles.  C’est donc avant tout un travail sur soi qui sera facilité par la mise en place de repères communs tels que les profils de leadership.</p>
        <p class="lead">Chacun des séminaires que nous animons sont uniques et adaptés à vos besoins.<br>Nous invitons les managers à prendre du recul sur leur posture managériale pour s’ouvrir à de nouvelles manières de faire; agir dans l’interdépendance et dépasser des situations parfois perçues comme difficiles, voire carrément bloquantes.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-5 offset-lg-1">
        <h5>Notre valeur ajoutée :</h5>
        <p class="text-orange">nous abordons le management par une approche centrée sur la dynamique relationnelle. Car au-delà des techniques, nous sommes convaincus que l’efficience et l’efficacité d’un manager se joue dans la qualité des processus relationnels qu’il entretient avec lui-même et ses partenaires.</p>
      </div>
      <div class="col-md-5">
        <h5>Exemples de réalisation :</h5>
        <ul class="text-orange">
          <li>Se connaitre soi pour mieux interagir avec les autres</li>
          <li>Agir en équipe dans la complémentarité plutôt que dans la différence ou l’indifférence</li>
          <li>Construire la confiance au sein de l’équipe et avec ses partenaires</li>
          <li>Révéler sa signature managériale et sa capacité à inspirer les autres</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section  class="section-orange">
  <h2 class="section-title">Accompagner vos talents</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <blockquote class="blockquote">
          <p class="mb-0">Formuler ses compétences, revient à se définir, souvent aussi à s’enfermer. Exprimer son talent revient à se trouver</p>
          <footer class="blockquote-footer">Yves Blanc</footer>
        </blockquote>
        <p class="lead">Le coaching révèle la part de talents qui se cache en chacun de nous.<br>Un parcours professionnel est jalonné de nombreuses étapes souvent décisives. Réussir ces différentes transitions nécessite parfois de prendre de la hauteur, pour retrouver un nouveau souffle, une dynamique, un nouvel élan professionnel ou personnel.</p>
        <p class="lead">Notre approche du coaching s’inscrit dans une dynamique de croissance personnelle.</p>
        <p class="lead">Elle permet à une personne de révéler ses ressources dans un cadre bienveillant et en même temps stimulant pour atteindre les objectifs qu’elle s’est fixés.</p>
        <p class="lead">Pour initier le processus, un contrat relationnel précise les objectifs, les rôles de chacun, les indicateurs de réussite et le déroulement (durée, nombre de séances et périodicité des rencontres).</p>
        <p class="lead">La nature même du coaching ne permet pas de définir par avance le contenu des séances. Néanmoins, chaque séance comprend généralement, une analyse de la situation, un travail réflexif dans la résolution de problèmes et des apports didactiques.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-5 offset-lg-1">
        <h5>Notre valeur ajoutée :</h5>
        <p class="text-dark">nous accompagnons des managers depuis plus de 15 ans dans la recherche d’un meilleur équilibre. Nous les guidons dans leur questionnement pour les aider à acquérir un meilleur discernement sur leur propre cadre de référence. Et leur permettre d’ajuster ou de révéler de nouvelles aptitudes afin d’atteindre les objectifs qu’ils se sont fixés.</p>
      </div>
    </div>
  </div>
</section>

<!-- L'esprit -->
<section id="spirit">
  <h2 class="section-title">L’esprit de nos interventions</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <blockquote class="blockquote">
          <p class="mb-0">On ne peut rien apprendre aux gens. On peut seulement les aider à découvrir qu’ils possèdent déjà en eux tout ce qui est à apprendre</p>
          <footer class="blockquote-footer">Galilée</footer>
        </blockquote>
        <p class="lead">Dans un monde où rien n’est permanent sauf peut-être le changement, les managers d’aujourd’hui doivent s’appuyer de plus en plus sur leurs aptitudes personnelles. C’est pourquoi nos interventions sont centrées sur la personne. Nous aidons chacun à découvrir ses talents, à les mobiliser et à les cultiver.</p>
        <p class="lead">Notre démarche est fondée sur le respect de l’autre, l’écoute et la confidentialité des échanges.Nous considérons le manager et les membres de son équipe comme des personnes autonomes.</p>
        <p class="lead">Nos interventions sont vivantes, dynamiques et illustrées. Et chaque participant est partie prenante de la réussite de l’intervention. Cependant, si la personne est en permanence au cœur de nos apprentissages, nous prenons systématiquement en compte son environnement c'est-à-dire son contexte et les relations qu’elle entretient avec ce et ceux qui l’entourent.</p>
        <p class="lead">Notre cadre de référence est donc tout d’abord <a data-toggle="modal" href="#modal-sa">systémique</a>. Nous utilisons également des approches issues des sciences comportementales et cognitives telles que <a data-toggle="modal" href="#modal-pnl">la programmation neuro-linguistique</a>, <a data-toggle="modal" href="#modal-at">l’analyse transactionnelle</a> et l’élément humain.</p>
        <p class="lead">Nous sommes certifiés aux outils <a data-toggle="modal" href="#modal-mbti">Myers Briggs Type Indicators (MBTI)</a>, Team Management System, <a data-toggle="modal" href="#modal-disc">Talent Insights (DISC)</a> et au <a data-toggle="modal" href="#modal-360">360° Regards Sur Soi</a>.</p>
      </div>
    </div>
  </div>
</section>

<!-- TEAM -->
<section id="team"  class="section-dark">
  <h2 class="section-title">L’équipe</h2>
  <div class="container">
    <p class="lead">Nous intervenons avec une équipe de Consultants-Coachs séniors qui détient une solide expérience à la fois en entreprise et dans le secteur du conseil.</p>
  </div>
  {{ partial "team" . }}
</section>
<!-- CLIENTS -->
<section id="customers">
  <h2 class="section-title">Ils nous ont fait confiance</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <p>Nos clients sont principalement des groupes de dimension internationale présents dans le secteur de l’industrie et des services.</p>
        <p>Notre expérience professionnelle dans ces deux environnements, nous permet de comprendre plus rapidement leurs cultures, métiers et enjeux stratégiques pour concevoir des projets sur-mesure.</p>
        <p>Nous nous considérons et nous agissons pour nos clients comme de véritables partenaires. Nous prenons le temps de l’écoute et du dialogue pour instaurer la confiance et nous partageons nos expériences pour enrichir nos pratiques professionnelles.</p>
      </div>
    </div>
  </div>
  {{ partial "customers" . }}
</section>

<!-- CONTACT -->
<section class="section-dark" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Pour nous contacter :</h3>
        <p>Nelly Bruggheman<br>06 66 00 24 49<br><a href="mailto:nelly.bruggheman@capitalents-rh.com?subject=Contact Internet">&#110;&#101;&#108;&#108;&#121;&#46;&#98;&#114;&#117;&#103;&#103;&#104;&#101;&#109;&#97;&#110;&#99;&#97;&#112;&#105;&#116;&#97;&#108;&#101;&#110;&#116;&#115;&#45;&#114;&#104;&#46;&#99;&#111;&#109;</a></p>
        <a href="https://www.linkedin.com/in/nelly-bruggheman-780217152/" target="_blank"><i class="fa fa-3x fa-linkedin-square"></i></a>
      </div>
      <div class="col-md-6">
        <p>Vous pouvez aussi nous laisser un message directement :</p>
        <form id="contactform" method="POST">
          <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Votre nom">
          </div>
          <div class="form-group">
            <input class="form-control" type="email" name="_replyto" placeholder="Votre email">
          </div>
          <input type="hidden" name="_subject" value="Website contact" />
          <div class="form-group">
            <textarea class="form-control" name="message" placeholder="Votre message"></textarea>
          </div>
          <input type="text" name="_gotcha" style="display:none" />
          <button type="submit" value="Send" class="btn btn-outline-light">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- SCRIPTS -->
<script>
var contactform =  document.getElementById('contactform');
contactform.setAttribute('action', '//formspree.io/' + 'nelly.bruggheman' + '@' + 'capitalents-rh' + '.' + 'com');
</script>
<!-- MODALS -->
{{ partial "modals" . }}
<!-- FOOTER -->
{{ partial "foot" . }}
