<!--  navbar -->
<nav class="navbar navbar-expand-lg fixed-top" id="navbar-menu">
  <a class="navbar-brand js-scroll-trigger" href="{{ .Site.BaseURL }}">
    <img src="../assets/img/logo-brand.png" width="180" height="75" alt="">
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar top-bar"></span>
    <span class="icon-bar middle-bar"></span>
    <span class="icon-bar bottom-bar"></span>
  </button>
  <div class="collapse navbar-collapse" >
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link js-scroll-trigger" href="#prestations">Nos prestations</a>
      <a class="nav-item nav-link js-scroll-trigger" href="#spirit">L’esprit de nos interventions</a>
      <a class="nav-item nav-link js-scroll-trigger" href="#team">L’équipe</a>
      <a class="nav-item nav-link js-scroll-trigger" href="#customers">Ils nous font confiance</a>
      <a class="nav-item nav-link js-scroll-trigger" href="#contact">Contact</a>
    </div>
  </div>
</nav>
